<div id="<%= dom_id shelf %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Division:</strong>
    <%= shelf.division %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Partition:</strong>
    <%= shelf.partition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Werehouseid:</strong>
    <%= shelf.werehouseId %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Boxid:</strong>
    <%= shelf.boxId %>
  </p>

</div>
