<div id="<%= dom_id shelf %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Division:</strong>
    <%= shelf.division %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Partition:</strong>
    <%= shelf.partition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Warehouse_id:</strong>
    <%= shelf.warehouse_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Box_id:</strong>
    <%= Shelf.box_id %>
  </p>

</div>
