<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Hectares" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Hectares</h1>
    <%= link_to "New hectare", new_hectare_path, class: "btn-primary" %>
  </div>


  <%= search_form_for @q, url: hectares_path, method: :get do |f| %>
  <div class="flex items-center space-x-4">
    <div class="my-2">
      <%= render "shared/combo_box", 
           form: f, 
           field: :id_eq,  # Usamos `community_eq` para buscar coincidencias exactas
           label: "Hectárea", 
           options: @hectares_for_combo, 
           selected: @q&.id_eq,  # El valor seleccionado se toma del objeto `@q`
           placeholder: "Selecciona una hectárea" %>
    </div>

    <div class="my-2">
      <%= f.submit "Filtrar", class: "btn-primary" %>
    </div>
  </div>
<% end %>


<table class="table-auto w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Latitud</th>
      <th class="px-4 py-2">Longitud</th>
      <th class="px-4 py-2">Comunidad</th>
      <th class="px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @hectares.each do |hectare| %>
      <tr>
        <td class="border px-4 py-2"><%= hectare.id %></td>
        <td class="border px-4 py-2"><%= hectare.latitude %></td>
        <td class="border px-4 py-2"><%= hectare.longitude %></td>
        <td class="border px-4 py-2"><%= hectare.community %></td>
        <td class="border px-4 py-2">
          <%= link_to 'Ver', hectare_path(hectare), class: "btn btn-info" %>
    

        </td>
      </tr>
    <% end %>
  </tbody>
</table>



 <%
=begin%>
  <div id="hectares" class="min-w-full">
  <% @hectares.each do |hectare| %>
    <%= render partial: "hectares/hectare", locals: { hectare: hectare } %>
    <p>
      <%= link_to "Show this hectare", hectare, class: "btn-secondary" %>
    </p>
  <% end %>
</div> 
<%
=end%>
