<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @hectare %>

      

    <% if user_has_role?(current_user, :Tagger) %>
      <%= link_to "Agregar caja", new_box_path(hectare_id: @hectare.id), class: "btn-primary" %>
    <% end %>

     <% if user_has_role?(current_user, :Administrator) %>
      <%= link_to "Edit this hectare", edit_hectare_path(@hectare), class: "btn-primary" %>
      <%= button_to "Destroy this hectare", @hectare, method: :delete, class: "btn-destroy" %>
    <% end %>

    <%= link_to "Back to hectares", hectares_path, class: "btn-back" %>
  </div>
</div>
