<%= form_with(model: @user, local: true, class: "space-y-6") do |form| %>
<% if @user.errors.any? %>
<div class="ml-3">
    <h3 class="text-sm font-medium text-red-800">
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h3>
    <div class="mt-2 text-sm text-red-700">
        <ul class="list-disc pl-5 space-y-1">
            <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>
<div class="form">

     <div>
        <%= form.label :name, "N" %>
        <%= form.text_field :name, class: "input" %>
    </div>

     <div>
        <%= form.label :email, "Correo" %>
        <%= form.text_field :email, class: "input" %>
    </div>

    <div>
        <%= form.label :password, "Contraseña " %>
        <%= form.text_field :password, class: "input" %>
    </div>
    <%= render "shared/combo_box", 
         form: form, 
         field: :role, 
         label: "Rol", 
         options: [["Administrador", "0"], ["Encargado de almacén", "1"], ["Etiquetador", "2"], ["Vendedor", "3"]], 
         selected: "quality", 
         placeholder: "Selecciona un rol" %>

    <div>
        <%= form.submit class: "btn-primary" %>
    </div>
</div>
<% end %>