<h1>Iniciar Sesi칩n</h1>
<%= form_with url: authentication_login_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :email, "Correo Electr칩nico" %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.label :password, "Contrase침a" %>
    <%= form.password_field :password, required: true %>
  </div>
  <div>
    <%= form.submit "Iniciar Sesi칩n" %>
  </div>
<% end %>

