<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class: "btn-primary" %> |
  <%= link_to "Back to users", users_path, class: "btn-back" %>

  <%= button_to "Destroy this user", @user, method: :delete, class: "btn-destroy"%>
</div>
