<div id="<%= dom_id box %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= box.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quality:</strong>
    <%= box.quality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weigth:</strong>
    <%= box.weigth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hectare:</strong>
    <%= box.hectare %>
  </p>

</div>
