<%= form_with(model: box, class: "contents") do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
        <% box.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%
=begin%>
   <div class="my-5">
    <%= form.label :quality %>
    <%= form.text_field :quality, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div> 
<%
=end%>
  
    <%= render "shared/combo_box", 
           form: form, 
           field: :quality, 
           label: "Calidad", 
           options: [["Calidad", "quality"], ["No calidad", "no-quality"]], 
           selected: "quality", 
           placeholder: "Selecciona una calidad" %>

  <div class="my-5">
    <%= form.label :weigth %>
    <%= form.text_field :weigth, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :hectare %>
    <%= form.number_field :hectare, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
