<div class="info__show__form">
    <div class="info">
        <p> Hectarea <%= @hectare.id %>, de <%= @hectare.community  %></p>
    </div>

    <%= render "shared/combo_box", 
         form: form, 
         field: :plant_id,
         label: "Planta", 
         options: @plants.map { |plant| ["#{plant.id} - #{plant.row} #{plant.column}", plant.id] },
         selected: @plants.first&.id,
         placeholder: "Selecciona una planta" %>

    <%= render "shared/combo_box", 
         form: form, 
         field: :quality, 
         label: "Calidad", 
         options: [["Calidad", "quality"], ["No calidad", "no-quality"]], 
         selected: "quality", 
         placeholder: "Selecciona una calidad" %>
    
    <div>
        <%= form.label :weigth, ""  %>
        <%= form.text_field :weigth, class: "input", pattern: "\\d+(\\.\\d{1,3})?", title: "Debe ser un número con un máximo de 3 decimales" %>
    </div>

    <div class="options__show__form">
       <% if @box.new_record? %>
    <div class="button">
      <%= link_to "Cancelar", hectare_path(@hectare), class: "btn-back" %>
    </div>
  <% else %>
    <div class="button">
      <%= link_to "Cancelar",  boxes_path, class: "btn-back" %>
    </div>
  <% end %>
    </div>
    <div class="options__show__form">
        <div class="button">
            <%= form.submit "Guardar", class: "btn-primary" %>
        </div>
    </div>
</div>