<%= form_with(model: @box, class: "contents") do |form| %>
<% if @box.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2><%= pluralize(@box.errors.count, "error") %> prohibited this box from being saved:</h2>
    <ul>
        <% @box.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="form">
    <div class="info">
        <p> Hectarea <%= @hectare.id %>, de <%= @hectare.community  %></p>
    </div>

    <%= render "shared/combo_box", 
         form: form, 
         field: :plant_id,
         label: "Planta", 
         options: @plants.map { |plant| ["#{plant.id} - #{plant.row} #{plant.column}", plant.id] },
         selected: @plants.first&.id,
         placeholder: "Selecciona una planta" %>

    <%= render "shared/combo_box", 
         form: form, 
         field: :quality, 
         label: "Calidad", 
         options: [["Calidad", "quality"], ["No calidad", "no-quality"]], 
         selected: "quality", 
         placeholder: "Selecciona una calidad" %>
    <div>
        <%= form.label :weigth  %>
        <%= form.text_field :weigth, class: "input" %>
    </div>

    <div>
        <%= form.submit "Guardar", class: "btn-primary" %>
    </div>

</div>
<% end %>