<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <p>Box ID: <%= @box.id %></p>

<p>Calidad: <%= @box.quality %></p>
<p>Peso: <%= @box.weigth %></p>

    <%= link_to "Edit this box", edit_box_path(@box), class: "btn-primary" %>
    <%= link_to "Back to boxes", boxes_path, class: "btn-back" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this box", @box, method: :delete, class: "btn-destroy" %>
    </div>
  </div>
</div>
