<div class="container__show">
  <div class="card_show">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
    </div>

    <div class="header__show">
      <h1>Información de la Caja</h1>
    </div>

    <div class="info__show">
      <div>
        <p>ID de la Caja:</p>
        <span><%= @box.id %></span>
      </div>
      <div>
        <p>Calidad:</p>
        <span><%= @box.quality %></span>
      </div>
      <div>
        <p>Peso:</p>
        <span><%= @box.weigth %></span>
      </div>      
      <div>
        <p>Planta:</p>
        <span><%= @box.plant_id %></span>
      </div>
      <div>
        <p>Hectarea:</p>
        <span><%= @box.plant.hectare_id %></span>
      </div>
    </div>

    <div class="options__show">
      <div class="button">
        <%= link_to "Regresar", boxes_path, class: "btn-back" %>
      </div>
      <div class="button">
        <%= link_to "Editar esta caja", edit_box_path(@box), class: "btn-primary" %>
      </div>
      <div class="button">
        <%= button_to "Eliminar esta caja", @box, method: :delete, class: "btn-destroy" %>
      </div>
    </div>
  </div>
</div>