<aside class="sidebar">
    <div class="">
        <%= image_tag 'logo.svg', alt: 'Logo de la empresa', class: 'w-[50px] h-[50px]' %>
        <h2 class="">MangoDB</h2>
    </div>
    <nav class="nav">
        <ul>
            <% navigation_links.each do |link| %>
            <li class="<%= 'active' if request.path.start_with?(link[:path]) %>">
                <%= link_to link[:path], class: 'w-full block' do %>
                  <%= image_tag link[:image], alt: 'icon', class: 'inline-block mr-2' if link[:image] %>
                  <%= link[:name] %>
                <% end %>
            </li>
            <% end %>
        </ul>
    </nav>
</aside>