<div id="<%= dom_id plant %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= plant.id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Hectarea:</strong>
    <%= plant.hectare_id %>
  </p>



  <p class="my-5">
    <strong class="block font-medium mb-1">Humidity:</strong>
    <%= plant.humidity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Growthmm:</strong>
    <%= plant.growthMm %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Heatjoules:</strong>
    <%= plant.heatJoules %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Steamthicknessmm:</strong>
    <%= plant.steamThicknessMm %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pestpresence:</strong>
    <%= plant.pestPresence %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Texture:</strong>
    <%= plant.texture %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Oxygenationlevel:</strong>
    <%= plant.oxygenationLevel %>
  </p>

</div>
