<div class="container__index">

    <div class="w-full">
        <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
    </div>
    <div class="container__warehouse">
        <% content_for :title, "Warehouses" %>

        <% @warehouses.each do |warehouse| %>
        <%= link_to warehouse do %>
        <div class="card__warehouse">
            <h2>Almacén de <%= warehouse.name %></h2>
            <p>Ubicado en <%= warehouse.location %></p>
            <% if warehouse.name == 'Calidad' %>
            <%= image_tag 'img-warehouse.svg', alt: 'Imagen almacen' %>
            <% else %>
            <%= image_tag 'img-warehouse-2.svg', alt: 'Imagen almacen' %>
            <% end %>

        </div>
        <% end %>
        <% end %>
    </div>
</div>