<div class="container__show__warehouse">
    <div class="mx-auto">
        <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
        <% end %>
    </div>

    <h1>Almacén de <%= @warehouse.name %></h1>

    <div class="container__shelf">
        <% @warehouse.shelves.each do |shelf| %>
        <% grouped_partitions = shelf.shelf_partitions.group_by(&:division) %>

        <ul class="shelf">
            <div>
                <h3>Estante <%= shelf.id %></h3>
            </div>
            <% grouped_partitions.each do |division, partitions| %>
            <li class="division">
                <p>División <%= division %></p>
                <div class="container__partition">
                    <% partitions.each_with_index do |partition, index| %>
                    <span 
                        class="partition  <%= partition.box_id.present? ? 'with-box' : 'without-box' %>" >
                         
                    </span>
                    <% end %>
                </div>
            </li>
            <% end %>
        </ul>

        <% end %>
    </div>

    <div>
        <%= link_to "Regresar", warehouses_path, class: "btn-back" %>
    </div>
</div>